# virtual environment
myenv/

# environment variables
.env

# python cache
__pycache__/
*.pyc

# uploads
*.pdf
*.txt

# docker
postgres_data/


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